APP_NAME="Robi Training Record Management"
APP_ENV=local
APP_KEY=base64:50SYSxUSZR0Z9eY8lVE3kxu3dJxSWhNAYROhzyXrfuc=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=trm
DB_USERNAME="trm"
DB_PASSWORD="soft7777#"

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

SCOUT_DRIVER=es

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="mahmud.bracu@gmail.com"
MAIL_PASSWORD="kmottliusbvlyjwz"
MAIL_ENCRYPTION=tls
